ul{
    list-style: none;
    text-align: center;
}
li{
    border:2px solid black;
    width:10%;
    margin-top:50px;
    margin-left: 40%;
    padding:5px;
    background:cyan;
}
img{
    width: 50px;
    margin-top: 4px;
    margin-bottom: -4px;
}
li ~ li{
    display:none;
}
img#img_animee{
    width: 996px;
    height: 518px;
    margin-left: 3000px;
    display:none;
}